.container--note-page {
    height: 100%;
    padding: 10px;
    box-sizing: border-box
}




.container--header-toolbar {
    display: flex;   
}

.container--circle-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25px;
    width: 25px;
    margin-left: auto;
}

.container--note-body{
    height: calc(100% - 20px);
    overflow: hidden;
}

blockquote {
    border-left: 2px solid #ddd;
    margin-left: 0;
    margin-right: 0;
    padding-left: 10px;
    font-style: italic;
}