#root {
    width: 100%;
    height: 100vh;
}

.container--home-page {
    height: 100%;
    background-color: #eee;
}

.container--search-bar {
    padding: 0 10px;
    margin-bottom: 10px;
}

.container--header {
	width: 100%;
    position: relative;
    background-color: #eee;
}

.container--dropdown {
    display: flex;
	justify-content: space-around;
    padding: 2px;
}

.dropdown-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown-text {
    font-size: 15px;
    margin: 0 5px;
    text-transform: none;
    font-weight: 700;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 200px;
    white-space: nowrap;
}

.dropdown-icon {
    background-image: url('../../icons/drop-down-24.png');
    height: 15px;
    width: 15px;
    background-size: 15px;
    transform: rotate(0deg);
    transition: transform .5s;
}

.dropdown-icon-rotate {
    transform: rotate(180deg);
}

.container--more-options {
    top: 0;
    right: 0;
    position: absolute;
}

.more-options {
    background-image: url('../../icons/menu-vertical-filled-24.png');
    height: 18px;
    width: 18px;
    background-size: 18px;
}

.container--list-item {
    border-bottom: 1px solid #eee;
    background: #fff;
    z-index: 10;
    position: fixed;
    width: 100%;
    border-radius: 0 0 5px 5px;
    box-shadow: 0px 1px 4px #b3b3b3;
    opacity: 1;
    transition: opacity .5s;

    max-height: 65vh;
    overflow: auto;
}

.list-item {
    height: 42px;
    line-height: 42px;
    text-align: center;

    display: flex;
    justify-content: space-between;

    padding: 0 5%;
}

.list-item-label__bold {
    font-weight: 700;
}

.list-item-label {
    max-width: 250px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.list-item:last-child {
    justify-content: center;
}

.plus-icon {
    margin: 0 5px;
    color: #22cccc;
    font-size: 20px;
}

.separator {
    width: 90%;
    margin: 0 auto;
    opacity: 0.5;
    border-bottom: 1px solid #bdbdbd;
}

.new-folder-container {
    display: flex;
}

.container--notes {
    padding: 0 10px 10px 10px;
    height: calc(100vh - 92px);
    overflow: auto;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

.container--add-notes {
    position: fixed;
    bottom: 30px;
    right: 30px;
}

.container--selectionn-header {
    display: flex;
    height: 42px;
    justify-content: space-between;
}

.container--bottom-toolbar {
    position: fixed;
    bottom: 0;
    height: 56px;
    width: 100%;
    background-color: #f9f9f9;
    display: flex;
    transition: height .5s;
    border-radius: 5px 5px 0 0;
}

.container--bottom-tool-button {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

.bottom-button-text {
    font-size: 14px;
    text-transform: none;
    font-weight: 500;
    margin: 0 10px;
}

.time-stamp-wrappper {
    position: absolute;
    bottom: 10px;
    left: 5px;
}