#root {
    width: 100%;
    height: 100vh;
}

.container--home-page {
    height: 100%;
    background-color: #eee;
}

.container--search-bar {
    padding: 0 10px;
}

.container--header {
	width: 100%;
    position: relative;
    background-color: #eee;
}

.container--dropdown {
    display: flex;
	justify-content: space-around;
    padding: 2px;
}

.dropdown-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown-text {
    font-size: 15px;
    margin: 0 5px;
}

.dropdown-icon {
    background-image: url('../../icons/drop-down-24.png');
    height: 15px;
    width: 15px;
    background-size: 15px;
}

.container--more-options {
    top: 0;
    right: 0;
    position: absolute;
}

.more-options {
    background-image: url('../../icons/menu-vertical-filled-24.png');
    height: 18px;
    width: 18px;
    background-size: 18px;
}

/**************************************************************************/

.container--list-item {
    border-bottom: 1px solid #eee;

    position: fixed;
    width: 100%;
}

.list-item {
    height: 42px;
    line-height: 42px;
    text-align: center;

    display: flex;
    justify-content: space-between;

    padding: 0 5%;
}

.list-item-label__bold {
    font-weight: 700;
}

.list-item:last-child {
    justify-content: center;
}

.plus-icon {
    margin: 0 5px;
    color: #22cccc;
    font-size: 20px;
}

.separator {
    width: 90%;
    margin: 0 auto;
    opacity: 0.5;
    border-bottom: 1px solid #bdbdbd;
}

.new-folder-container {
    display: flex;
}

.container--notes {
    padding: 10px;
    height: calc(100vh - 92px);
    overflow: auto;
}

.container--add-notes {
    position: fixed;
    bottom: 30px;
    right: 30px;
}